doctype
html
   head
      meta(charset='utf-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      title #{controller} - HY's mooi
      
      link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css')
      block stylesheets
      
      script(type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
      script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js')
      block scripts
      
      if vars && vars.development
         script(src='http://localhost:35729/livereload.js?snipver=1')
         
   body(class=controller.toLowerCase().replace(/ /g, "_"))
      #stage
         .header
            include _header
         .content
            block content
         .footer
            include _footer
