extend _template

block content
   .front.new-front
      .story
         block main-story
      
      .project_buttons
         block project_buttons
      
      .offer_images
         block image
   
   .lower_buttons
      a.companies.offer(href='/hv')
         b Moderne HY's

      a.consumers.offer(href='/more_electric')
         b Carrosserie aanpassingen

      a.for_sale.offer(href='/new_parts')
         b Moderne oplossingen