extend templates/_personnel-pages

block stylesheets
   link(rel='stylesheet', href='/css/ben.css')

block image
   img(src='/images/personnel/ben/ben.png')

block main-story
   p
      h1 Ben Boortman
      span#right_outline
         | HY specialist

   p
      | Reeds op de HTS werktuigbouwkunde was een van mijn favorieten het vak: " Motoren". Fasinerend om te zien hoe je met eenvoudige componenten als een paar zuigers en een krukas een vernuftig apparaat kunt bouwen waarmee je moeiteloos een auto kunt voortbewegen.
      br
      | Na enkele jaren vooral hobbymatig gesleuteld te hebben, besloot ik in 2000 het 
      span#underline vakmatig
      |  aan te pakken. Inmiddels was Citroën mijn merk geworden, mede door de mooie HY-camper die ik al een paar jaar had.
      br
      | Medio 2019 ben ik gestopt met het actief sleutelen aan de HY en ben ik uit het bedrijf HY’s mooi gestapt.
      br
      | Samen met mijn vrouw zijn we verhuisd naar het echte Citroënland: Frankrijk.
      br
      | Daar in de Bourgogne ben ik een nieuw bedrijf gestart: Le bon type H. In dit bedrijf reviseer ik HY onderdelen. Mijn jarenlange ervaring met sleutelen komt me daarbij goed van pas.
   
   p
      | Ben: 
      a(href='mailto:info@lebontypeh.eu') info@lebontypeh.eu
      br
      | Tel: +31 6 51 58 2001