.beam
  .logo.image
    a(href='/en/'): img(alt="Hy's mooi", src='/images/overall/hysmooi_logo.png')

  a.header-button.first(href='/en/home') Home
  a.header-button(href='/en/gallery') Gallery
  a.header-button(href='/en/about_us') About us
  a.header-button(href='/en/disclaimer') Info pages
  a.header-button(href='/docs/plaatwerk_catalogus.pdf', target='_blank') Webshop
  //- a.header-button(href='/en/links') Webwinkel
  a.header-button.last(href='/en/contact') Contact

  a.facebook.image(href='http://www.facebook.com/HysMooi')
    img(alt='facebook', src='/images/overall/facebook_logo.png')
  
  .i18n-container
    a.dutch.i18n.image(href='/home')
      img(alt='dutch', src='/images/language/dutch.gif')
    a.english.i18n.image(href='/en/home')
      img(alt='english', src='/images/language/english.gif')
