extend _template

block content
   .personnel_pages
      .image
         block image
   
      .story
         block main-story
   
   .lower_buttons
      a.companies.offer(href='/en/companies')
         b Bedrijven

      a.consumers.offer(href='/en/consumers')
         b Particulieren

      a.for_sale.offer(href='/en/for_sale')
         b Een HY kopen of huren
