extends ../templates/en/_header-pages

block stylesheets
   link(rel='stylesheet', href='/css/about_us.css')


block main-story
   #story_header
      .photo_block
         a(href='/en/ben')
            img(src='/images/personnel/ben/ben.png', alt='Een oude auto', class='first')
         .text
            a(href='/en/ben'): b Ben Boortman
            br
            | Director
            br
            | HY specialist
      .photo_block
         a(href='/en/menno')
            img(src='/images/personnel/menno/menno.png', alt='Een oude auto', class='second')
         .text
            a(href='/en/menno'): b Menno van Heijningen
            br
            | First mechanic
            br
            | Product development
   
      h1 About us
      #table_of_contents
         ul
            li: a(href='#total-revision') Total revision
            li: a(href='#partial-revision') Partial revision
            li: a(href='#sheet-metal') Sheet metal
            li: a(href='#maintenance') Maintenance
            li: a(href='#diy') Working along+

   p
      span#company_name HY's mooi
      |  is specialized in the entire or partial revision and restauration of the Citroën type H. We offer the following services

   ol.roman
      p
         h2#total-revision: li Total revision
         | In this option we provide full service:
         ul
            li
               | 	We take out the complete mechanical sub frame [known as “Horse”] and separate all the individual parts, like the brakes, steering, cooling and the electrical components. 
               img(src='/images/header_pages/old_site/HY uit elkaar.jpg', alt='Een nog te reviseren Citroen HY', class='inline_image')
               |  We take out the complete mechanical sub frame [known as “Horse”] and separate all the individual parts, like the brakes, steering, cooling and the electrical components. All of these individual parts are then cleaned and inspected. Faulty parts are replaced with new or revised parts. Where necessary the engine and gearbox are also revised.
            li In the mean time we take all parts off the body, like the doors, windows, dashboard and wiring. Next we send the body in to get sandblasted, as to get rid of all the rust, paint and putty. Where necessary new pieces are welded in.
            li When this is all done we take the parts and assemble the car back together.
            li Then the assembled the HY goes to the painter, who applies a professional paint layer. Afterwards we bring the car back for the final touches and the final checks.
            li Finally the underside and hollow parts of the car is to get a layer of “Dinitrol”
            li Now your HY is ready to get back on the road
            li After 1.000 km the HY comes back in for small maintenance, where we walk you through the final points.
         
      a(href='#'): .up Back to top
   
      p
         h2#partial-revision: li Partial revision
         | Instead of a total revision, you can also choose for a partial revision. Here we take one of the subsystems of your HY and revise all parts of it. The partial revisions we offer are as following:
   
         ol.number
            p
               h3: li Lighting and wiring
               | The wiring of the HY has always been a weak spot.
               img(src='/images/header_pages/old_site/HY.jpg', alt='Een oude auto', class='inline_image')
               | The wires are very thin and, especially when the car has been modified, often malfunctions. In this partial revision we remove all the old wiring and install a completely new harness. Since we’re already looking through all the 12 Volt systems, we will also check and replace, where necessary, all the lights.
      
            p
               h3: li Brakes
               | The braking system of a HY is based on the technology of the 50’s. This means no braking 
               img(src='/images/header_pages/old_site/Trommel remmen.jpg', alt='De trommel remmen van een Citroen HY', class='inline_image')
               | booster and no disc brakes, just a main braking cylinder and all around drum brakes. This system is able to function just fine, when it is well adjusted and adequately maintained. 
               br
               | Here we separate the entire braking system and the car itself, from the brake pedal to the bleeder. In the end you will receive:
               ul
                  li Newly revised braking cylinders, and a new or revised main cylinder;
                  li New braking hoses and new braking shoes
               | In this partial revision we always renew the screw-threads of the wheels, as to make it easy again to mount and dismount the wheels. On request we can also have the wheel nuts and bolts passivated, just like they were when they rolled out of the factory. If wanted, we will also check and/or replace the wheel bearings. And if your HY is equipped with a braking limiter, it will also be checked.
      
            p
               h3: li Brake actuator
               img(src='/images/header_pages/old_site/Stop.jpg', alt='Citroen HY stop teken', class='inline_image')
               | If you are of the opinion that it requires too much force to get sufficient braking power, we can install a brake booster. You will get another “drum” somewhere in the front, which will make it so that you will not have to apply so much force. To save the original character of your HY, we will install this in such a way that it is always possible to return to the original situation.
      
            p
               h3: li Ignition
               | Even the ignition of a HY has the mechanics of the 50’s – 60’s. It is possible
               img(src='/images/header_pages/old_site/Bougie.jpg', alt='De bougie van een Citroen HY', class='inline_image')
               | for this to work accordingly, but it has to be adjusted and maintained properly. The revision here will entail: new sparkplugs, wiring and ignition points. Another option is to have the old ignition system replaced by a modern 123 ignition. This has been specifically designed for the HY and works like a charm. The engine runs smoother and ignites better.
      
            p
               h3: li 12-volt ignition and charge system
               | The HY has a few different electrical systems. The older types for instance have got a direct current dynamo, while the more “modern” versions have alternating current. Citroën never issued a special maintenance program for these, which results in a lot of cars where these systems are faulty. 
               img(src='/images/header_pages/old_site/HY Snelheidsmeter.jpg', alt='De snelheidsmeter van een Citroen HY', class='inline_image')
               | It can be noticed if your ignition doesn’t work properly, or the battery doesn’t charge as well as it should. In this partial revision you will get a new or revised version of:
               ul
                  li Starting engine and relays
                  li Dynamo, fan belt and voltage regulator
                  li Battery cables
                  li Where necessary a new battery and a trickle charger for charging during extended periods of not driving
      
            p
               h3: li Fuel
               | The fuel system is one of the less complicated systems of your HY. 
               img(src='/images/header_pages/old_site/HY Tank.jpg', alt='Een tank van de Citroen HY', class='inline_image')
               | However, it can still cause some problems. This partial revision means renewing all the fuel lines and installing a new fuel pomp. All the other parts in this systems will be disassembled, cleaned and checked.
      
            p
               h3: li Engine
               | This is the beating heart of your HY.
               img(src='/images/header_pages/old_site/Heart.jpg', alt='images/products/Heart.jpg', class='inline_image')
               | Even though Citroën has installed a robust engine in the HY, after a while the horsepower will fade somewhat. This is a sign to get it revised. We take out the engine and bring it to a specialized company. They will renew the pistons, replace the old gaskets and install a new timing chain. Finally we install the engine back in your HY and connect all the parts again.
      
            p
               h3: li Gearbox
               | All the HY has got are 3 shifts and a reverse.
               img(src='/images/header_pages/old_site/HY Versnellingsbak.jpg', alt='Een Citroen HY versnellingsbak', class='inline_image')
               | Just like the engine, the gearbox is also quite robust, but even then, it can use a revision after a while. Again we take it out of your HY and bring it to a specialized company. They take it apart, checks all the parts and replace where necessary. 
      
            p
               h3: li Cooling
               | A lot of HY’s have some issues with their cooling system. Small journeys across
               img(src='/images/header_pages/old_site/Heet.jpg', alt="Heet van Citroen HY's", class='inline_image')
               | the countryside might not trigger any problems, but packed for a holiday in sunny France some problems could arise. So maybe it is time for a revision of the cooling system. First we completely drain the cooling fluid, even from the engine block. Next we dismount the radiator and check it for faults, and do the same for the water pump and all of the hoses. The radiator will be revised, with the installation of a new heatsink, and the same goes for the water pump. Afterwards we assemble everything again and mount it on your HY and fill the system with a modern type of cooling fluid that is suitable for an engine with an aluminum head. 
      
            p
               h3: li Steering
               img(src='/images/header_pages/old_site/HY Tang.jpg', alt='Een Citroen HY tang', class='inline_image')
               | The steering system is a closed circuit that was filled with grease during fabrication. Without taking it all apart one can only grease the ball joints. In this partial revision we disassemble the entire system and replace all the old grease with new and modern grease. In some cases the parts are worn to the point where a lot of steering play is happening. In this case we will mount new ball joints and adjust the gears where necessary.
      
            p
               h3: li Ball joints and shafts
               | The HY has a ball joint system that has been taken over from the Traction. 
               img(src='/images/header_pages/old_site/Citroen oud.jpg', alt='Een oude Citroen', class='inline_image')
               | These ball joints have certain greasers that, according to the maintenance book, are supposed to be greased every 2.000-5.000 km. Not everybody can find the 6-8 greasers and even if they do they are likely to be clogged. This means it’s time to take it apart. When we do this job, we will take apart all four ball joints and inspect them. Where needed we will install new ball joints. In this partial revision we will also look at the drive shafts. They will be disassembled and the old grease will be replaced. Of course every part will go through our hands and be inspected and replaced or repaired where needed.
      
            p
               h3: li Rear shaft
               | Almost all of the mechanics of your HY are in the front of the car. Besides the wheels and brakes, the only things at the rear of your HY are two rear shafts with torsion bars. 
               img(src='/images/header_pages/old_site/HY lager.jpg', alt='Een kogel lager van de Citroen HY', class='inline_image')
               | The bars won’t cause many problems, however the bearings tend to get jammed. In this case you will notice a dry tick in the rear when driving over a bump. To be able to replace these bearings, the shafts have to be taken out. This often proves to be quite the challenge, because these shafts tend to be stuck. As soon as the shafts are taken out, we can replace the bearings and renew the grease seals. At the same time we will re-adjust the height of the rear according to factory specifications or whatever height you would like.
      
            p
               h3: li Tectyl
               | To maintain the state of your HY we recommend getting the underside and the many 
               img(src='/images/header_pages/old_site/Dinitrol.jpg', alt="Leverancier van Citroen revisie bedrijf HY's Mooi", class='inline_image')
               | hollow parts covered in a layer of Dinitrol. To do this we cooperate with the Dinitrol company Sjaak van Aalst located in Alphen a/d Rijn.
               br
               | This will happen in the 3 following steps:
               ol
                  li The cleaning of the underside of your HY to remove all of the dirt, but also the old protective layer.
                  li
                     | Where needed a bit of maintenance to the underside.
                  li Application of Dinitrol.
               | It then has to dry for a good two weeks, after which you can clean the car and cover it in wax.
   
      a(href='#'): .up Back to top
   
      p
         h2#sheet-metal: li Sheet metal
         | Citroën has found an ingenious solution with its distinctive corrugated body work to build a large van with very thin sheet metal. Unfortunately this was not calculated to last more than 30 years. Because of this many of the existing HY’s have some metal and rust problems. Fortunately we are able to repair most of these. Listed below are a few of our most frequently requested metal work:
         img(src='/images/header_pages/old_site/HY met klep.jpg', alt='Een oude Citroen HY met een zij klep', class='inline_image')
   
      ol.number
         p
            h3: li Sales flap
            | Since its beginning the HY was very popular among small salesmen and for market stalls. Often they had a sales flap build in the side. By now we have figured out how to do this and are able to install a big or small one for you.
      
         p
            h3: li Nose plate
            | The nose plate, behind the head lights, is a vulnerable spot on the HY. We are able to install a new repair part. We will cut out the old part and install a brand new piece of metal. Afterwards we will put back the headlights of course.
      
         p
            h3: li Roof-Rack
            img(src='/images/header_pages/old_site/HY oud.jpg', alt='Een oude Citroen HY', class='inline_image')
            | If you still want more carrying capacity, you can choose to let us install an roof-rack. However, a normal roof-rack is destructive for your HY. This is why we will install one with special supports that will not destroy your HY. Just like how the Dutch State police did it back in the day.
   
      a(href='#'): .up Back to top
   
      p
         h2#maintenance: li Maintenance and repairs
         | By popular demand, you can bring your HY to us for maintenance and repairs. However, working on an old HY is quite a different process than working on modern cars.
      
         p
            img(src='/images/header_pages/about_us/HY-geroest.png', alt='Een oude, geroeste Citroen HY', class='inline_image')
            | Three examples to illustrate this difference:
      
         ol
            p
               li
                  | A customer enters and asks us to take a look at that one rear light that is malfunctioning. In a modern car it is almost always a broken light bulb, which is fixed in about 10 minutes.
                  br
                  | For a HY however, the chance that this is not just the light bulb is extremely high. For instance the wiring can be faulty after all this time. So since it is very likely for every problem to have underlying problems become apparent, repairs on a HY will take more time –which means more money- than initially was thought.
         
            p
               img(src='/images/header_pages/about_us/HY-factureer.png', alt='Een oude Citroen HY', class='inline_image')
               li
                  | Citroën made a giant manual at the time describing the standard repair times. To replace the exhaust manifold for instance is said to take 48 minutes. This is only possible 
                  b IF...
                  | all the nuts and bolts are in decent condition and are easy to come loose. In our experience of 30 years however, we have noticed these nuts and bolts to be rusted to a point where they even break off while trying to unscrew them. In this case, the repair will take considerably more than those 48 minutes.
         
            p
               li Some time ago we received a phone call from a desperate HY owner. He spent three months to get his front brakes to work properly, but it just wouldn’t do so. Everything was renewed, but the HY kept having a brake difference between left and right. When this HY got in to our workshop, we noticed the back plate of the braking system to be a bit tilted. After further examination the springs of the emergency brake were installed incorrectly. Once this was fixed the braking problems were gone. 
               
      
         b Adventure
         br
         | These examples show how the maintenance and repair of your HY is often a shared adventure. Beforehand none of us know exactly what problems we will find; sometimes we will find more problems than others. That is why we will often deliberate with you, our customer, to tell you what we found and how to continue from here on. This is how we like to work on your precious HY.

      a(href='#'): .up Back to top
   
      p
         img(src='/images/header_pages/about_us/diy.png', alt='Meesleutelen +', class='inline_image', id='diy-picture')
         h2#diy: li Working along+
         | For some time now we offer you the possibility of “working along”. So what does this entail?
      
         p
            b Time is money
            br
            img(src='/images/header_pages/about_us/time-money.png', alt='Meesleutelen +', class='inline_image')
            | The idea behind this new service is that with any repairs on a HY the biggest costs are man-hours, which are expensive. So after some deliberation we came up with this idea to let the customer do the simple work himself. This lowers the amount of hours we have to spend, and thus bill, which will make the entire job that much cheaper. After trying this a few times it has become apparent that this works great, even better, besides saving you some money, there are a few side benefits as well.
      
         p
            em Working along = deciding together
            br
            | During work on your HY we often stumble upon moments of decision making. For instance: When we are working on your braking system and it becomes clear to us the emergency brake cable has become bad due to wear and tear, we can immediately discuss with you whether to replace it or just leave it be for now. Sometimes the choice is in the way of repairing, and if you can do this yourself or not. When you work along we can immediately discuss these issues and is it much easier for you to make a better decision regarding what to do.
      
         p
            em Working along = learning
            img(src='/images/header_pages/about_us/teacher.png', alt='Meesleutelen +', class='inline_image')
            br
            | If you are working along everything will pass through your own hands. This means you will learn a lot about your HY, and even how you can fix certain problems yourself in the future. This works even better considering we love to tell you about everything.
      
         p
            em Working along = working yourself
            br
            | It is also possible to use this option to work on your own HY under careful oversight. Especially useful is you know how to do certain repairs, but are still a bit unsure. In this way you can do this yourself with the help of some directions and tips of ours.
      


   
   a(href='#'): .up Back to top
