extends ../templates/en/_header-pages

block stylesheets
   link(rel='stylesheet', href='/css/contact.css')

block image
   iframe(width="360", height="462", frameborder="0", style="border:0", src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9824.718397325252!2d4.710469273019493!3d52.00360518653849!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5d4050e238ed3%3A0xa4f6ced153074d9c!2sGouderaksedijk+68B%2C+2808+NG+Gouda!5e0!3m2!1sen!2snl!4v1424809927449")

block main-story
   h1 Contact
   
   p
      | There are several ways to contact us. The easiest way is to e-mail us with your questions, this can be done by using the following address:
      a(href='mailto:info@hysmooi.nl') info@hysmooi.nl
      br
      | You can also call us: 
      b 0651582001
      |  or call Menno's cell phone: 
      b 0638931454
      |  In this way you can also make an appointment with us.
   
   p
      | It is also possible to come visit us. We do appreciate it if you make an appointment first. Our address is:
   
   p 
      li: span#company_name HY's mooi
      li Gouderaksedijk 68B
      li 2808 NG, Gouda

   //- p: a(href='/docs/directions_2013.pdf', target='_blank' ) Hier kunt u een uitgebreide routebeschrijving downloaden

   .financial_info
      | Kvk nummer: 24 314 585
      br
      | BTW nummer: NL076346201B02
      br
      | Rabobank: 1528.65.357
      br
      | IBAN: NL38 RABO 0152 8653 57
      br
      | Ten name van: HY's mooi, Gouda
      br
