extends ../templates/en/_header-pages

block stylesheets
   link(rel='stylesheet', href='/css/contact.css')

block image
   iframe(width="360", height="462", frameborder="0", style="border:0", src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9824.718397325252!2d4.710469273019493!3d52.00360518653849!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5d4050e238ed3%3A0xa4f6ced153074d9c!2sGouderaksedijk+68B%2C+2808+NG+Gouda!5e0!3m2!1sen!2snl!4v1424809927449")

block main-story
   h1 Contact
   
   p
      | You can contact us as follows:
      br
      b Menno
      br
      | E:
      a(href='mailto:menno@hysmooi.nl') menno@hysmooi.nl 
      br
      | T: +31 6 38 93 1454

   p
      b Ben
      br
      span#company_name Le bon type H
      br
      | E:
      a(href='mailto:info@lebontypeh.eu') info@lebontypeh.eu
      br
      | T: +31 6 51 58 2001
   
   p
   p
      | It is also possible to come visit us. We do appreciate it if you make an appointment first. Our address is:
   
   p 
      li: span#company_name HY's mooi
      li Gouderaksedijk 68B
      li 2808 NG, Gouda

   //- p: a(href='/docs/directions_2013.pdf', target='_blank' ) Hier kunt u een uitgebreide routebeschrijving downloaden
   p.privacy-link
      a(href='/docs/privacy_statement.pdf', target='_blank') Privacy
