extends ../templates/en/_template

block stylesheets
   link(rel='stylesheet', href='/css/index.css')

block scripts
   script(type='text/javascript' src='/js/home.min.js')

block content
   .front
      .story
         h1 What is HY's mooi ?

         p
            span#company_name HY's mooi 
            | is a revision company aimed at making Citroën type “H” vans
            | reliable again and does so with a lot of love and professionality.
            | Ben Boortman founded this company in 2001, when he wasn’t able to
            | find someone who could revise his own HY. Apparently this was a
            | formula for success.
            | In the meantime Ben has left the company, but that didn't stop 
            span#company_name HY's mooi
            | . At 
            span#company_name HY’s mooi
            |  we make your HY “as good as new”. We disassemble your
            | HY (or parts of it); examine every single part and repair or
            | replace that which is needed. 

         p
            a(href='/en/about_us#maintenance')
               b Maintenance
            br
            | We also do the bigger and more complex maintenance jobs for you HY. We started with this because for HY owners it is becoming increasingly more difficult to find a decent workshop that can [or will] work on a HY. For us, maintenance is actually a partial revision, in which we decide with careful deliberation together with you, our customer, what we do and what we leave be for the moment. This communication is necessary because we are never really able to see how good [or bad] your HY is after the past few decennia. 

         p
            a(href='/en/ben')
               b Ben Boortman,
            br
            a(href='/en/menno')
               b Menno van Heijningen

         a.button.left(href='/docs/plaatwerk_catalogus.pdf', target='_blank')
            .text.yellow
               b New
               br
               | Sheet metal for the HY

         a#to_new.button.right(href='https://youtu.be/tZ0_xJ3D6OI', target='_blank')
            .text.green
               | Watch our promotion video
            //- .text.green
               | Met ingang van
               br
               | 1 februari zijn wij verhuisd
   
   .company_offers
   
      a.companies.offer(href='/en/companies')
         .text.head
            b Companies

      a.consumers.offer(href='/en/consumers')
         .text.head
            b Consumers

      a.for_sale.offer(href='/en/for_sale')
         .text.head
            b
               | Buy or rent
               br
               | an HY

   a.button.separator(href='#')
      .text.yellow HY in the 20st century

   #new_offers
      #new_background
      #new_holder
         #new-front
            #new_story
               h2 HY in the 21st century

               p The first design drawings of the H-van were made in 1942. For that period this little van was extremely innovative. In the 21st century however, customers demand very different things of their vehicles. Today every new van has powered brake- and steering and environmental impact is the important issue.

               p And so it happens that we get more and more customers who want a classic HY with all the characteristics of a HY, but with modern techniques. For these customers we developed a few innovations that make the classic HY completely compatible with the 21st century. Such as an electrical HY (the HE) or a HY sales truck as a trailer (the HV). If you are not looking for a modern HY, but you are looking for decent solutions to the old problems, like the vulnerable clutch of the mechanical ignition, we can help you as well. We welcome you to our workshop.
   
         #new_buttons

            a#new-1.offer(href='/en/hv')
               .text.head
                  b Modern HY's
               
               img#hv-picture(src='/images/home/hyselektrisch.png', alt="HY's elektrisch")

            a#new-2.offer(href='/en/more_electric')
               .text.head
                  b
                     | body
                     br
                     | modifications

            a#new-3.offer(href='/en/new_parts')
               .text.head
                  b
                     | Modern
                     br
                     | solutions

         a.button.separator.green(href='#')
            .text.green HY in the 21st century
