@import 'bourbon';
@import 'general';
@import 'header-pages';

body.gallery {
	
   .front {
		
      .story {
			
         #NB {
            font-style: italic;
         }
			
         #added {
            font-weight: bold;
         }
      }
		
      .image {
			
         img {
            max-width: 50px;
            max-height: 30px;
         }
			
         a {
            margin-right: 5px;
            text-decoration: none;
         }
			
      }
   }
}