@import 'bourbon';
@import 'general';
@import 'main-catagories';

body.rental {
	
	.content {
		height: auto;
		float: left;
		
		.front {
			height: auto;
			margin-bottom: 10px;
			float: left;
			background-color: #78C588;
			
			.story {
				min-height: 680px;
				float: left;
				
				h1 {
					text-align: left;
				}
			}
		}
	}
}